@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(
  https://fonts.googleapis.com/css?family=Roboto+Condensed:400),
  300,
  700
);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: box;
  box-align: center;
  box-pack: center;
  transform: translate3d(0, 0, 0);
}

.clearfix,
.container,
.calendar {
  zoom: 1;
}
.clearfix:before,
.container:before,
.calendar:before,
.clearfix:after,
.container:after,
.calendar:after {
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after,
.container:after,
.calendar:after {
  clear: both;
}

body {
  background: #249991;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  line-height: 1;
  font-size: 20px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 30em;
}

.today {
  background: #4ecdc4;
  color: white;
  padding: 1em 0;
  float: left;
  width: 15em;
  min-height: 17.2em;
}
.today .day-week {
  color: rgba(255, 255, 255, 0.8);
  margin: 1em 0 2em;
}
.today .day-num {
  font-size: 8em;
}

.calendar {
  float: left;
  width: 15em;
  min-height: 17em;
  background: #f5f5f5;
  padding: 1.25em 1em 2em;
}
.calendar .month {
  color: #249991;
  font-weight: 700;
  margin: 0.75em 0 1em;
}
.calendar .weekday {
  color: #e42355;
  font-weight: 700;
  font-size: 0.8em;
}
.calendar .day {
  font-size: 0.8em;
  font-weight: 700;
  color: #555555;
}
.calendar .weekday,
.calendar .day {
  float: left;
  width: 12%;
  margin: 0.25em 1%;
  line-height: 1.5em;
  vertical-align: middle;
}
.calendar .weekday.now,
.calendar .day.now {
  position: relative;
  color: #e42355;
}
.calendar .weekday.now:before,
.calendar .day.now:before {
  content: '';
  width: 1.75em;
  height: 1.75em;
  border: 0.2em solid #e42355;
  position: absolute;
  border-radius: 100%;
  left: -0.125em;
  top: -0.25em;
}

.mute {
  color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 38em) {
  .container {
    max-width: 100%;
  }

  .today,
  .calendar {
    width: 75%;
    float: none;
    margin: 0 auto;
    min-height: 0;
  }

  .calendar .weekday,
  .calendar .day {
    display: none;
  }
}
