body {
  margin: 0px;
}

.landing {
  margin-top: 80px !important;
  margin-bottom: 20px !important;
  text-align: center;
}

.card-left {
  margin-top: 80px !important;
}

.parallax {
  background-image: url('./imgs/Map.jpg');
  height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
