body {
  /*TODO: Insert background image here*/
  background-image: url('');
  margin: 0px;
}

.landing {
  margin-top: 140px !important;
  text-align: center;
}

.form-styled {
  margin-left: 100px;
  margin-right: 100px;
}
